* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Ensures footer stays at the bottom */
  width: 360px;
  height: 100vh; /* Ensures it takes up the full screen height */
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  border-bottom: 1px solid #ddd;
}

.notification-icon img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.app-title {
  font-size: 20px;
  font-weight: bold;
  color: #4caf50;
}

.level-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #f9f9f9;
}

.level-label {
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

.progress-bar {
  width: 80%;
  height: 10px;
  background-color: #ddd;
  border-radius: 5px;
  margin: 0 10px;
  position: relative;
}

.progress {
  width: 70%;
  height: 100%;
  background-color: #4caf50;
  border-radius: 5px;
}

.main-content {
  flex-grow: 1; /* Makes the main content grow and fill remaining space */
  text-align: center;
  padding: 20px;
  background-color: #ffffff;
  overflow-y: auto;
}

.plog-2 img {
  height: 200px;
}

.plog-2-label {
  font-size: 30px;
  font-weight: bold;
  margin-top: 10px;
  color: #585757;
}

.footer {
  display: flex;
  justify-content: space-around;
  padding: 15px 0;
  background-color: #ffffff;
  border-top: 1px solid #ddd;
}

.nav-item img {
  width: 30px;
  height: 30px;
}
