* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Ensures footer stays at the bottom */
  width: 320px;
  height: 100vh; /* Ensures it takes up the full screen height */
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  border-bottom: 1px solid #ddd;
}

.notification-icon img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.app-title {
  font-size: 20px;
  font-weight: bold;
  color: #4CAF50;
}

.recruit-form-link {
  text-align: center;
  margin: 20px 0;
  padding-left: 200px;
}

.recruit-form-link img.register-img {
  width: 100px; /* Set image width */
  height: auto;
}

.main-content {
  flex-grow: 1; /* Makes the main content grow and fill remaining space */
  text-align: center;
  padding: 20px;
  background-color: #ffffff;
  overflow-y: auto;
}

h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

/* Make recruit-items scrollable */
#recruit-items {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 5px;
  background-color: #f9f9f9;
  max-height: 300px;
  overflow-y: auto;
}

#recruit-form {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 5px;
  background-color: #f9f9f9;
  max-height: 400px;
  overflow-y: auto;
}

.recruit-item {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.participants {
  font-weight: bold;
}

.input_container {
  display: inline-block; /* 내부 요소 크기 만큼 */
  padding: 30px; /* padding 4군데 모두 30px */
}

input {
  width: 15em; /* 가로 크기 */
  height: 2em; /* 세로 크기 */
  border: 1px solid gray; /* 기본 테두리 */
  border-radius: 20px; /* 테두리 둥글게 */
  padding: 0px 10px; /* 입력 padding 띄우기(좌,우) */
}

textarea {
  width: 15em; /* 가로 크기 */
  border: 1px solid gray; /* 기본 테두리 */
  border-radius: 15px; /* 테두리 둥글게 */
  padding: 10px; /* 입력 padding 띄우기(상,하) */
}

input:focus { /* 포커스 시 */
  border: 1px solid #4CAF50; /* 기본 테두리 변경 */
  outline: 1px solid #4CAF50; /* out 테두리 변경 */
}

#register-button {
  border: 1px solid #4CAF50;
  background-color: rgba(0,0,0,0);
  color: #4CAF50;
  padding: 5px;
}

.join-btn {
  background-color: #4CAF50;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
}

.join-btn:hover {
  background-color: #4CAF50;
}

.footer {
  display: flex;
  justify-content: space-around;
  padding: 15px 0;
  background-color: #ffffff;
  border-top: 1px solid #ddd;
}

.nav-item img {
  width: 30px;
  height: 30px;
}

