* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
}

.app-container {
  width: 320px; /* Reduced width for a narrower layout */
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  border-bottom: 1px solid #ddd;
}

.notification-icon img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.app-title {
  font-size: 20px;
  font-weight: bold;
  color: #4CAF50;
}

.recruit-form-link {
  text-align: center;
  margin: 20px 0;
}

.recruit-form-link img.register-img {
  width: 100px; /* Set image width */
  height: auto;
}

.main-content {
  text-align: center;
  padding: 20px;
  background-color: #ffffff;
  min-height: 400px; /* Adjust as needed */
  overflow-y: auto;
}

h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

#recruit-items {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.recruit-item {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.participants {
  font-weight: bold;
}

.join-btn {
  background-color: #008cba;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
}

.join-btn:hover {
  background-color: #007bb5;
}

.footer {
  display: flex;
  justify-content: space-around;
  padding: 15px 0;
  background-color: #ffffff;
  border-top: 1px solid #ddd;
}

.nav-item img {
  width: 30px;
  height: 30px;
}
